<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		{% load staticfiles %}
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<!--<script type="text/javascript" src="{% static 'js/jstree.min.js' %}" ></script>-->
		<script type="text/javascript" src="{% static 'js/jquery.jstree.js' %}"></script>
	</head>
	<body>
		<p>Hello</p>
		<div id="jstree-test-old"></div>
		
		
		<form method="POST" action="">
			<table>
				{{ item_form.as_table }}
			</table>
			{% csrf_token %}
			<input type="submit" value="Submit">
		</form>
	</body>
	<script type='text/javascript'>

		var jmenus = {{ json_menus|safe }};
		var menus = new Array();
		var a = 0;
		for (var i=0; i<jmenus.length; i++){
			menus[i] = eval("(" + jmenus[i] + ')');
		};

	</script>
</html>