<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		{% load staticfiles %}
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<!--<script type="text/javascript" src="{% static 'js/jstree.min.js' %}" ></script>-->
		<script type="text/javascript" src="{% static 'js/jquery.jstree.js' %}"></script>
	</head>
	<body>
		<p>Hello</p>
		<div id="jstree-test-old"></div>
		
		<form action="https://diego-test_bucket.s3.amazonaws.com/" method="post" enctype="multipart/form-data" id="up_form">
			<input type="hidden" name="key" value="uploads/${filename}">
			<input type="hidden" name="AWSAccessKeyId" value={{ AWS_ACCESS_KEY_ID }}> 
			<input type="hidden" name="acl" value="public-read"> 
			<input type="hidden" name="success_action_redirect" value="http://diego-test.herokuapp.com/">
			<input type="hidden" name="policy" value={{ policy }}>
			<input type="hidden" name="signature" value={{ signature }}>
			<input type="hidden" name="Content-Type" value="image/jpeg">
			<!-- Include any additional input fields here -->

			File to upload to S3: 
			<input name="file" type="file"> 
			<br> 
			<input type="submit" value="Upload File to S3" onclick="uploadFile()"> 
		</form> 
		<div id="progressNumber"></div>
	</body>
	<script type="text/javascript">
		function uploadFile() {

			var fd = new FormData($('#up_form'));

			var xhr = getXMLHTTPObject();

			xhr.upload.addEventListener("progress", uploadProgress, false);
			xhr.addEventListener("load", uploadComplete, false);
			xhr.addEventListener("error", uploadFailed, false);
			xhr.addEventListener("abort", uploadCanceled, false);

			xhr.open($('#up_form').attr('method'), $('#up_form').attr('action'), true); //MUST BE LAST LINE BEFORE YOU SEND 

			xhr.send(fd);
		}
		function uploadProgress(evt) {
			if (evt.lengthComputable) {
				var percentComplete = Math.round(evt.loaded * 100 / evt.total);
				document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
			}
			else {
				document.getElementById('progressNumber').innerHTML = 'unable to compute';
			}
		}

		function uploadComplete(evt) {
			/* This event is raised when the server send back a response */
			alert("Done - " + evt.target.responseText );
		}

		function uploadFailed(evt) {
			alert("There was an error attempting to upload the file." + evt);
		}

		function uploadCanceled(evt) {
			alert("The upload has been canceled by the user or the browser dropped the connection.");
		}
	</script>
	
	<script type='text/javascript'>

		var jmenus = {{ json_menus|safe }};
		var menus = new Array();
		var a = 0;
		for (var i=0; i<jmenus.length; i++){
			menus[i] = eval("(" + jmenus[i] + ')');
		};

	</script>
</html>