<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		{% load staticfiles %}
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<!--<script type="text/javascript" src="{% static 'js/jstree.min.js' %}" ></script>-->
		<script type="text/javascript" src="{% static 'js/jquery.jstree.js' %}"></script>
	</head>
	<body>
		<p>Hello</p>
		<div id="jstree-test-old"></div>
		
		<p>{{ test }}</p>
		
		<form action="" method="post">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
	</body>
	<script type='text/javascript'>

		var jmenus = {{ json_menus|safe }};
		var menus = new Array();
		var a = 0;
		for (var i=0; i<jmenus.length; i++){
			menus[i] = eval("(" + jmenus[i] + ')');
		};

	</script>
</html>