<!DOCTYPE html>
<html>
    <head>
        <title>INDEX</title>
    </head>
    <body>
        <p id="count">0<p>
    </body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript">
		var count = 0;
		(function poll(){
			setTimeout(function(){
				$.ajax({ url: "stream/", success: function(data){
					count++;
					$('#count').text(count);
					//Setup the next poll recursively
					poll();
				}, dataType: "json"});
			}, 30000);
		})();
    </script>
</html>