<!DOCTYPE html>
<html>
	<head>
		<title>SSE test</title>
		{% load staticfiles %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static 'js/eventsource.js' %}"></script>
	</head>
	<body>
		<p>SSE test</p>
		<script>
			$().ready(function() {
			  var source = new EventSource('/sse/'); // of course this must match the endpoint in your urlconf

			  function log() {
				console.log(arguments);
			  }

			  source.onopen = function() {
				console.log(arguments);
			  };

			  source.onerror = function () {
				console.log(arguments);
			  };

			  source.addEventListener('connections', log, false);
			  source.addEventListener('requests', log, false);
			  source.addEventListener('myevent', function(e) {
				data = JSON.parse(e.data);
				// .. do something..
			  }, false);
			  source.addEventListener('uptime', log, false);

			  source.onmessage = function() {
				console.log(arguments);
			  };
			});

		</script>
	</body>
</html>