<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.css" />
		<link rel="stylesheet" href="{% static 'slick/slick.css' %}" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.2/jquery.mobile.min.js"></script>
		<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/mobile.js' %}"></script>
	</head>
	<body>
		<div data-role="page">
			<div data-role="header" data-position="fixed" data-tap-toggle="false">
				<div>
					<a href="" data-role="button"
					data-mini="true" class="ui-btn-left" data-icon="arrow-l">
						Main Menu
					</a>
				</div>
				<h1>Item display</h1>
				<div>
					<a href="" data-role="button"
					data-mini="true" class="ui-btn-right" data-icon="grid">
						My Orders
					</a>
				</div>
			</div><!-- /header -->

			<div role="main" class="ui-content" id="carousel">
				<div style="background-image: url('http://geekbar_bucket.s3.amazonaws.com/media/c0/4') no-repeat center center;">
					<h4 style="color: white;">bourbon salmon</h4>
					<p style="color: white;">grilled salmon brushed with woodford reserve bourbon. Seasonal vegetables on the side - 16.99</p>
					<label for="quantity">Order Quantity:</label>
					<form action="" method="POST">
						{% csrf_token %}
						<input type="range" name="quantity" id="quantity" value="1"
						min="1" max="8" data-theme="a" data-highlight="true"/>
						<input type="submit" value="Order" data-role="button" data-theme="b"/>
					</form>
				</div>
				<div style="background-image: url('http://geekbar_bucket.s3.amazonaws.com/media/c0/7') no-repeat center center;">
					<h4 style="color: white;">cajun fish taco</h4>
					<p style="color: white;">a spicy pescadorian twist on the traditional baja taco. Four servings. - 14.99</p>
					<label for="quantity">Order Quantity:</label>
					<form action="" method="POST">
						{% csrf_token %}
						<input type="range" name="quantity" id="quantity" value="1"
						min="1" max="8" data-theme="a" data-highlight="true"/>
						<input type="submit" value="Order" data-role="button" data-theme="b"/>
					</form>
				</div>
				<div style="background-image: url('http://geekbar_bucket.s3.amazonaws.com/media/c0/0') no-repeat center center;">
					<h4 style="color: white;">sweet potato fries</h4>
					<p style="color: white;">served with brown sugar cream cheese and housemade barbecue sauce - 6.99</p>
					<label for="quantity">Order Quantity:</label>
					<form action="" method="POST">
						{% csrf_token %}
						<input type="range" name="quantity" id="quantity" value="1"
						min="1" max="8" data-theme="a" data-highlight="true"/>
						<input type="submit" value="Order" data-role="button" data-theme="b"/>
					</form>
				</div>
			</div><!-- /content -->

		</div>
	</body>
</html>